body {
    padding-top: 4rem;
    padding-bottom: 3rem;
    /* color: #598381; */
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Teko', sans-serif;
}

header, strong {
    font-family:'Teko', sans-serif;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #723D46!important;
}

.btn-primary {
    color: #fff;
    background-color: #E26D5C;
    border-color: #723D46;
}

.btn-primary:hover {
    color: #fff;
    background-color: #723D46;
    border-color: #472D30;
}

.btn-secondary {
    color: #fff;
    background-color: #C9CBA3;
    border-color: #E26D5C;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #472D30;
    border-color: #723D46;
}
a {
    color:#723D46;
}
a:hover {
    color:#E26D5C;
}

.jitc-light {
    background-color: rgb(255, 225, 171, .75)!important;
}
.jitc-med-light {
    background-color: rgb(201, 203, 163, .75)!important;
}
.jitc-medium {
    background-color: rgb(226, 109, 92, .75)!important;
}
.jitc-dark {
    background-color: rgb(114, 61, 70, .75)!important;
}

.non-relative-pos {
    position: inherit;
}

.carousel {
    border-radius: 7px;
    border: 2px solid #723D46;
    padding: 3px;
}

.card {
    border: 1px solid #723D46;
    margin-bottom: 2px;
}