body {
    padding-top: 4rem;
    padding-bottom: 3rem;
    /* color: #598381; */
    font-family: Montserrat;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Tekon;
}

header {
    font-family:Tekon;
}

.navbar-brand {
    padding-top: 0; /* wasn't aligning with other navbar elements with bootstrap padding on top */ 
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #723D46!important;
}

.btn-primary {
    color: #fff;
    background-color: #E26D5C;
    border-color: #723D46;
}

.btn-primary:hover {
    color: #fff;
    background-color: #723D46;
    border-color: #472D30;
}

.btn-secondary {
    color: #fff;
    background-color: #C9CBA3;
    border-color: #E26D5C;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #472D30;
    border-color: #723D46;
}