{% extends "base.html" %}

<!-- {% block body_style %}style="background-image: url({{ url_for('static', filename=event.cover_photo_path()) }});"{% endblock %} -->

{% block content %}
<div class="card bg-dark text-white">
    {% if event.cover_photo_path() %}
    <img class="card-img" src="{{ url_for('static', filename = event.cover_photo_path())}}" alt="{{ event.verbose_title() }}">
    {% endif %}<!-- <img src="" class="d-block w-100" alt=""> -->
    <div class="card-img-overlay">
        <h1 class="card-title"><small></small>Jam in the Can presents:</small> {{ event.title }}</h1>
        <h3 class="card-title">@ {{ event.venue.name }} {{ event.event_door.strftime('%A %B %-d, %Y %-I:%M%p') }}</h3>
    </div>
</div>

<hr>
{% if event.upcoming() %}
<div class="row">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-10 table-responsive">
        <table class="table">
            {% if event.ticket_link %}
            <tr>
                <th>Tickets:</th>
                <td>${{ event.price_two_places() }} <a href="{{ event.ticket_link }}" target="_blank">{{ event.ticket_link }}</a></td>
            </tr>
            {% endif %}
            <tr>
                <th>Venue:</th>
                <td>
                    <address>
                        <strong>{{ event.venue.name }}</strong><br>
                        {{ event.venue.street_address }}<br>
                        {{ event.venue.city }}, {{ event.venue.state }} {{ event.venue.zip }}<br>
                        <a href="https://goo.gl/maps/vbnmzV4MZvnKhVar9" target="_blank">Map <i class="bi bi-geo"></i></a>
                    </address>
                </td>
            </tr>
            <tr>
                <th>Doors:</th>
                <td>{{ event.event_door.strftime('%-I:%M%p') }}</td>
            </tr>
            <tr>
                <th>Ages:</th>
                <td>{{ event.ages }}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-2 col-md-1"></div>
</div>
<hr>
{% endif %}
<div class="row">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-10">
        <p>{{ event.about_html() }}</p>
    </div>
    <div class="col-lg-2 col-md-1"></div>
</div>
{% endblock %}