{% extends "base.html" %}
{% block page_desc %}A non-profit org dedicated to fostering musical arts in Cincinnati, OH{% endblock %}
{% block head_include %}
<meta name="google-site-verification" content="h8D2cofe2aBXs7gw6cU3_v7qbzyhzH48QzgaEjxxabM" />
{% endblock %}

{% block content %}
	<h1 class="display-1 text-center" style="display: none;">Jam in the Can</h1>
	{% include '_logo.html' %}
	<br>
	<h3 class="text-center"><small>A Non-Profit Organization</small></h3>
	<hr>
	{% with learn_more=True %}
	{% include '_mission_statement.html' %}
	{% endwith %}
	<hr>
	<h2 class="text-center">Showcase</h2>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div id="showcaseCarousel" class="carousel slide showcase" data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for event in events %}
		        		{% include '_showcase.html' %}
		    		{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#showcaseCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#showcaseCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
{% endblock %}
