{% extends "base.html" %}
{% block page_desc %}Jam in the Can merchandise.  All proceeds will be used to support our mission of fostering musical arts in Cincinnati, OH.{% endblock %}

{% block content %}
<h1 class="text-center">Jam in the Can Store</h1>
<hr>
<div id="my-store-73637355"></div>
<div>
    <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?73637355&data_platform=code&data_date=2022-04-12" charset="utf-8"></script>
    <script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-73637355");</script>
</div>
{% endblock %}