{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Support Jam in the Can!</h1>
    <div class="row">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-8 col-md-10">
            <p>Jam in the Can appreciates all the support we can get!  All donations collected will be put towards fulfilling our phase 4 goals:</p>
            <div class="card text-center">
                <h4 class="card-header jitc-dark">Phase 4</h4>
                <div class="card-body">
                    <p class="card-text lead">Proceeds from the album, live shows, and donations fund the purchase of instruments, subsidize lessons and mentorships for the underprivileged youth in the Cincinnati Tri State area.</p>
                </div>
            </div>
            <p></p>
            <p>If that sounds like your jam, a hearty <strong>THANK YOU</strong> to you! Check out your options below:</p>
        </div>
        <div class="col-lg-2 col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-lg-8 col-md-10">
            <h1 class="text-center">Donate!</h1>
        </div>
        <div class="col-lg-2 col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-8 col-md-10">
            <div class="hstack gap-3">
                <h4>Via Paypal:</h4>
                <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="2U6HCWKHSBZUE" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>
        <div class="col-lg-2 col-md-1"></div>
    </div>
{% endblock %}